.text-center{text-align: center;}
.w-100{ width: 100%;}

.p-relative { position: relative;}

.d-flex{ display: flex;}
.a-items-center{ align-items: center;}
.j-content-between{ justify-content: space-between;}
.j-content-center{ justify-content: center;}